<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogoutPressed()" color="primary">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-crear-lista-compra-modal [(isOpen)]="modalAbierto" (guardar)="onGuardarPresionado($event)"/>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirCerrarElModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <app-list-item *ngFor="let item of items " [item]="item" (deletePressed)="deleteItemPressed($event)" (editPressed)="editItemPressed($event)"></app-list-item>
  </ion-list>
</ion-content>
